[submodule "java-racingcar"]
	path = java-racingcar
	url = https://github.com/hongsii/java-racingcar.git
	branch = hongsii
[submodule "java-lotto"]
	path = java-lotto
	url = https://github.com/hongsii/java-lotto.git
	branch = hongsii
[submodule "java-ladder"]
	path = java-ladder
	url = https://github.com/hongsii/java-ladder.git
    branch = hongsii
[submodule "java-qna-atdd"]
	path = java-qna-atdd
	url = https://github.com/hongsii/java-qna-atdd.git
    branch = hongsii
[submodule "java-bowling"]
	path = java-bowling
	url = https://github.com/hongsii/java-bowling.git
    branch = hongsii
